

<header class="flex justify-start">
  <nav class="flex justify-center items-center gap-8">
    <a href="/">
      <img src="/logo.png" alt="Logo Jefferson" class="w-20"/>
    </a>
    <ul
      class="flex items-center gap-10 md:gap-20 text-center font-pop text-primary text-sm md:text-lg font-normal"
    >
      <li><a href="/">INICIO</a></li>
      <li><a href="/recetas">RECETAS</a></li>
      <li><a href="/fotos">FOTOS</a></li>
      <li><a href="/acerca-de">ACERCA DE</a></li>
    </ul>
  </nav>
</header>
